<div class="side-nav">
    <div class="logo">
        <img src="images/logo-2.png" alt="logo" height="200" width="200" />
    </div>
    {{ menuItems | raw }}
    <div class="share-btn">
        <a href="https://www.facebook.com/koracica/" target="_blank">
            <img border="0" alt="facebook" src="images/facebook.svg">
        </a>
        <a href="https://wa.me/381603473487">
            <img border="0" alt="whatsapp" src="images/whatsapp.svg">
        </a>
        <a href="viber://chat/?number=%2B381603473487">
            <img border="0" alt="viber" src="images/viber.svg">
        </a>
    </div>
    <p class="contact">Telefon:</br> +381 60 347 3487</p>
</div>