<div class="top-nav">
    <div class="top-nav-grid">
        <div class="menu self-aligne" id="menu-btn">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="logo-top-nav self-aligne">
            <img src="images/logo-2.png" alt="logo" height="50" width="50" />
        </div>
        <div class="right">
            <p class="contact">Telefon:</br> +381 60 347 3487</p>
        </div>
    </div>
</div>