{% extends layout %}
{% block content %}

{{ include('partials/side-nav.html.twig', {menuItems: menuItems}) }}
{{ include('partials/top-nav.html.twig') }}
<div class="wrap">
    <div class="main">
        <div class="text">
            <p class="title">Kontakti</p>
            <p class="info">Telfon: +381 60 347 3487</p>
            <p class="info">
                <em> 
                    * Možete nam pisati na Facebook, Whatsapp ili Viber
                </em>
            </p>
            <p class="info">E-mail: nenadlazarevic60@gmail.com</p>
            <p class="title">Dostava</p>
            <p class="info">Dostava može biti brzom poštom, npr. RoyalExpres, ili lično.</p>
            <br/>
            <br/>
            <p class="info">
                <em>
                    Naručite nećemo se ljutiti!
                    <br/>
                    Naručite dan pre, jer volimo da bude sveže!
                </em>
            </p>
        </div>
    </div>
</div>
{% endblock %}