{% extends layout %}
{% block content %}

{{ include('partials/side-nav.html.twig', {menuItems: menuItems}) }}
{{ include('partials/top-nav.html.twig') }}
<div class="wrap">
    <div class="main">
        <div class="text">
            <p class="title"></p>
            <p class="info">info info info info info info info info info </p>
            <p class="info">info info info info info info info info info </p>
            <p class="info">info info info info info info info info info </p>    
        </div>
    </div>
</div>
{% endblock %}