{% extends layout %}
{% block description %}Proizvodnja i uslužno mlevenje brasna. Kod nas možete naručiti brašno od heljde, spelte, raži, belog kukuruza.{% endblock %}
{% block keywords %}mlevenje brašna, kupovina brašna, naručivanje brašna, brašno od heljde, brašno od spelte, brašno od raži, brašno od belog kukuruza{% endblock %}
{% block content %}

{{ include('partials/side-nav.html.twig', {menuItems: menuItems}) }}
{{ include('partials/top-nav.html.twig') }}
<div class="wrap">
    <div class="main">
        <div class="container"></div>
        <div class="text">
            <p class="title">Gazdinstvo Lazarević</p>
            <p class="info">Nalazimo se u selu Koraćica ispod Kosmaja. Bavimo se proizvodnjom brašna od heljde, spelte, raži...</p>
            <p class="info">Uslužno melvenje žitarica po dogovoru.</p>
            <p class="info">Imamo i manju proizvodnju malina, jaja, raznog voća, rakije. Za ličnu upotrebu, bliži komšiluk i prijatelje.</p>
        </div>
    </div>
</div>
{% endblock %}