{% extends layout %}
{% block content %}

{{ include('partials/side-nav.html.twig', {menuItems: menuItems}) }}
{{ include('partials/top-nav.html.twig') }}
<div class="wrap">
    <div class="main">
        <div class="container"></div>
        <div class="text">
            <p class="title">Gazdinstvo Lazarević</p>
            <p class="info">Nalazimo se u selu Koraćica ispod Kosmaja. Bavimo se proizvodnjom brašna od heljde, spelte, raži...</p>
            <p class="info">Imamo i manju proizvodnju malina, jaja, raznog voća, rakije. Za ličnu upotrebu, bliži komšiluk i prijatelje.</p>
        </div>
    </div>
</div>
{% endblock %}