{% extends layout %}
{% block description %}Naručivanje brašna. Cene brašna od heljde, spelte, raži, belog kukuruza.{% endblock %}
{% block keywords %}kupiti brašno, naručiti brašno, brašno od heljde, brašno od spelte, brašno od raži, brašno od belog kukuruza{% endblock %}
{% block content %}
{{ include('partials/side-nav.html.twig', {menuItems: menuItems}) }}
{{ include('partials/top-nav.html.twig') }}
<div class="wrap">
    <div class="main">
        <div class="info-small">
            <em>
                * mleveno na kamenu i prosejano na mašinskom situ<br/>
                * upakovano u papirnatu ambalažu od 1kg, 5kg ili 10kg
            </em>
        </div>
        <div class="grid">
            {% for product in products %}
                <div class="grid-content">
                    <div class="container-img">
                        <img src="{{ product['img'] }}" />
                    </div>
                    <p class="grid-conten-text">{{ product['text']|raw }}</p>
                </div>
            {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endblock %}